.announce {
    position: fixed;
    top: 30px;
    right: 20px;
    display: flex;
    border-left: 4px solid var(--color-success);
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    z-index: 10;
    box-shadow: var(--box-shadow);
    grid-area: 20px;
    align-items: center;

    .icon {
        display: block;
        margin-right: 20px;
        font-size: 24px;
        color: var(--color-success);
    }
}