.navbar {
    width: 320px;
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
    padding: 0px 30px;
    position: fixed;
    top: 0;

    .container_logo {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 50px;

        img {
            width: 50px;
        }
    }

    p {
        margin-bottom: 20px;
        display: block;
        display: inline-block;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            color: var(--primary-color);
        }
    }

    button {
        padding: 10px 30px;
        background-color: var(--primary-color);
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        border-radius: 50px;
        margin-top: 40px;
        display: block;

        &:hover {
            background-color: var(--btn-hover);
        }
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        display: none;
    }
}