.container_edit {
    label, input {
        display: block;
    }

    label {
        margin-top: 20px;
        margin-bottom: 8px;
        font-weight: 600;
    }

    input {
        width: 100%;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        border: 1px solid #ddd;
    }

    .tags {
        margin-bottom: 12px;
    }
}

.container_btn {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 30px;

    button {
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 16px;
    }

    .btn_edit {
        background-color: var(--btn-confirm);
        color: #fff;

        &:hover {
            background-color: #ff6b6b;
        }
    }

    .btn_cancel {
        background-color: #eee;

        &:hover {
            background-color: #ddd;
        }
    }
}